
body {
  background-color: black;
}

div.app-container {
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  height: 480px;
  background-color:#303F9F;/**rgba(220, 100, 50, 1);**/
  position: relative;
}

div.center {
    padding-top: 20%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

form div.form-field {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

form div.form-field input {
    display: block;
    width: 90%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 14px;
    margin-left:15px;
}

button.btn {
  width: 90%;
  background-color: #03A9F4!important;
  border: none;
  padding: 14px 0;;
  color: rgb(250, 250, 250);
  font-size: 1.1em;
  font-weight: bold;
  text-shadow: 1px 1px 0 #444;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

button.btn-forget {
    background-color: #757575!important;
}

footer.application-footer-control {
    margin-top: 50%;
}