
// Send message button
button.send-message {
  background-color: #f9d62e;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  text-shadow: 1px 1px 0 #444;
  cursor: pointer;
  text-align: center;
}
